<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uniplac-news.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uniplac-news.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>uniplac-news</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$uniplac-news</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GetNewsWebApiContext" Order="1" Enabled="True">
          <Destination Path="Data Source=uniplac-server.database.windows.net;Initial Catalog=uniplac-news_db;Persist Security Info=True;User ID=prof.rech@uniplac-server;Password=K@tia2012" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GetNews.WebApi.Models.GetNewsWebApiContext, GetNews.WebApi" MigrationConfiguration="GetNews.WebApi.Migrations.Configuration, GetNews.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GetNewsWebApiContext-Web.config Connection String">
      <ParameterValue>Data Source=uniplac-server.database.windows.net;Initial Catalog=uniplac-news_db;Persist Security Info=True;User ID=prof.rech@uniplac-server;Password=K@tia2012</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>